@{
    ViewBag.Title = "Home";
}

<!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h1>
                CarManiacs: <span> A place for people who share<br />
                the passion for</span> cars
            </h1>
            <ul class="actions">
                <li><a href="./#about" class="button alt">About</a></li>
            </ul>
        </div>
    </section>

    <!-- About -->
    <section id="about">
    <div class="inner">
        <header>
            <h2>About</h2>
        </header>
        <p>
            This is the place to share everything you want about your passion for cars.
            You will almost certainly find both people who share the same view and people who oppose you.
            There is nothing wrong with that, that's the coolest thing about the car world - there are all kinds of people.
        </p>
    </div>
</section>

    <section id="three">
        <div class="inner">
            <article>
                <div class="content">
                    <span class="icon fa-wrench"></span>
                    <header>
                        <h3>Projects</h3>
                    </header>
                    <p>See what cool car projects people are building or share your own.</p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Projects</a></li>
                    </ul>
                </div>
            </article>
            <article>
                <div class="content">
                    <span class="icon fa-car"></span>
                    <header>
                        <h3>Stories</h3>
                    </header>
                    <p>Share your last cool car experience or just see what other people have shared.</p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Stories</a></li>
                    </ul>
                </div>
            </article>
            <article>
                @*<div class="content">
                    <span class="icon fa-laptop"></span>
                    <header>
                        <h3>Sed Magna</h3>
                    </header>
                    <p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper.</p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </div>*@
            </article>
        </div>
    </section>

    <section id="contact">
        <div class="inner">
            <header>
                <h2>Get in Touch</h2>
            </header>
            <form method="post" action="#">
                <div class="field half first">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" />
                </div>
                <div class="field half">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" />
                </div>
                <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="6"></textarea>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Send Message" class="alt" /></li>
                </ul>
            </form>
        </div>
    </section>