/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 500px;
}

#header .logo-img {
    display: inline-block;
    width: 120px;
    height: 64px;
    top: 12px;
    left: -150px;
}

#contact header {
    text-align: center
}

#contact input, #contact textarea {
    max-width: none
}

#header .profile-avatar {
    margin-left: 20px;
    right: 90px;
    display: inline-block;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 14px;
    border-radius: 5px
}

    #header .profile-avatar:hover {
        opacity: 0.8
    }
    
.inline-block {
    display: inline-block;
    margin-right: 30px
}

div.upload {
    display: inline-block;
    margin-left: 20px
}

p.description {
    margin-bottom: 10px
}

.comment {
    width: 500px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-radius: 10px
}

.comments-heading {
    margin-bottom: 20px
}

.comment-content {
    margin-bottom: 10px;
}

.comment-submit {
    max-width: 20px;
    height: 45px
}

.search-input {
    max-width: 375px
}